html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#173B81, #7480EB);
}

form {
    width: 100%;
    height: 100%;
}

.button {
    background-color: #315EDC;
    border: 0.5px solid #002280;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
}

.text {
	font-family: verdana;
	color: #333333;
}

.input {
    width: 100%;
    height: 23px;
    border: 1px;
    box-shadow: 0 2px 7px #888888;
}

#loginOuter {
    height: 380px;
    width: 400px;
    max-width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 3px 7px #888888;
}

#loginInner {
    height: 65%;
    width:90%;
    background-color: #A0C4F5;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: inset 0px 11px 8px -10px #888888;
}

#loginLogo {
	text-align: center;
}

#emailEntry, #passwordEntry {
    position: relative;
    width: 88%;
    height: 15%;
    margin: auto;
    top: 13%;
    left: 0;
    right: 0;
    padding-top: 8%;
}

#submitEntry {
	position: absolute;
	bottom: -63px;
	right: 0px;
}

#signup {
    position: absolute;
	width: 70%;
	bottom: 19px;
	left: -5px;
	text-align: center;
}

#error {
	position: relative;
	text-align: center;
	color: red;
	top: -110px;
}