html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#173B81, #7480EB);
}

form {
    width: 100%;
    height: 100%;
}

.button {
    background-color: #315EDC;
    border: 0.5px solid #002280;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
}

.button:hover {
    opacity: 1.0;
    transition: 0.4s;
}

.input {
    width: 100%;
    height: 40%;
    border: 1px;
    box-shadow: 0 2px 7px #888888;
}

.text{
    font-family: verdana;
    color: #333333;
}

#signupOuter {
    height: 510px;
    width: 420px;
    max-width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 3px 7px #888888;
}

#signupInner {
    height:350px;
    width:380px;
    max-width: 90%;
    background-color: #A0C4F5;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: inset 0px 11px 8px -10px #888888;
}

#title {
    position: relative;
    width: 100%;
    height: 85%;
    text-align: center;
}

#username, #email, #password, #repassword {
    position: relative;
    width: 88%;
    height: 15%;
    margin: auto;
    left: 0;
    right: 0;
}

#emptyDiv {
    position: relative;
    width:90%;
    height: 11%;
}

#captcha {
    position: fixed;
    width: 300px;
    height: 225px;
    margin: auto;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 368px;
}

#haveAccount {
    position: relative;
    width: 65%;
    height: 15%;
    top: 20px;
    text-align: center;
}

#createAccount {
    position: fixed;
    padding: 1px;
    width: 132px;
    height: 45px;
    margin: auto;
    right: 0px;
    left: 240px;
    bottom: 0px;
    top: 430px;
}

#error {
    color: red;
    padding-top: 3%;
}

.validationCheck {
    position: absolute;
    top: 18px;
    left: 175px;
    color: green;
    font-size: 1;
}

.img {
    position: absolute;
    left: -25px;
    height: 20px;
    width: 20px;
    display: none
}