<!DOCTYPE html>
<html>
	<head>
		<title>Login page</title>
		<link href='style/login.css' rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id='loginOuter'>
			<div id='loginLogo' class='text'>
				<font size='5'> <b> Quicklist's </b> </font> <br>
				Quick and easy shopping lists
			</div>

			

			<div id='loginInner'>
				<form id='loginForm' action="/login" method="post">
				    <div id='emailEntry' class='text'>
				    	Email<br>
				        <input type="text" name="email" class='input' /><br/>
				    </div>

				    <div id='passwordEntry' class='text'>
				    	Password<br>
				        <input type="password" name="password" class='input' />
				    </div>

				    <div id='submitEntry'>
				    	<input type="submit" class='button' value="      Login      "/>
				    </div>

				    <div id="error">
					{{error}}
					</div>
				</form>
			</div>
			<div id="signup" class='text'>
	            <b> Dont have an account? </b> <br>
	            <a href="/signup">Click Here!</a>
	        </div>
		</div>
	</body>
</html>
